DB_HOST=db
DB_PORT=5432
DB_USER=labeluser
DB_PASSWORD=changeme
DB_NAME=labeldb
APP_USER_1=alice
APP_PASS_1=changeme1
APP_USER_2=bob
APP_PASS_2=changeme2
PRINT_SERVICE_URL=http://host.docker.internal:9100
PRINTER_BLE_ADDRESS=XX:XX:XX:XX:XX:XX
